<div class = "container-fluid col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class = "container-fluid" id = "content">
        <div class = "text-danger text-center font-weight-bold">
            <p>Fields With * Are Mandatory</p>
        </div> 
        <div class="bg-dark" id="signup">
        <form class = "form-group text-secondary" [formGroup]="signupForm" (ngSubmit)="signUp()">           
            <div class = "form-group">
                <label>First Name*</label>
                <input type = "text" class = "form-control" formControlName = "fname" placeholder = "Enter First Name" [ngClass]="{'is-invalid': submitted && f.fname.errors, 'is-valid': submitted && f.fname.valid}">
                <div *ngIf ="submitted && f.fname.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.fname.errors.required">First Name is required!</div>
                </div>
                <div *ngIf="submitted && f.fname.valid" class="valid-feedback">
                    <div>First Name is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <label>Last Name</label>
                <input type = "text" class = "form-control" formControlName = "lname" placeholder = "Enter Last Name" [ngClass]="{'is-invalid': submitted && f.lname.errors, 'is-valid': submitted && f.lname.valid}">
                <div *ngIf ="submitted && f.lname.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.lname.errors.required">Last Name is required!</div>
                </div>
                <div *ngIf="submitted && f.lname.valid" class="valid-feedback">
                    <div>Last Name is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <label>User Name*</label>
                <input type = "text" class = "form-control" formControlName = "uname" placeholder = "Enter User Name" [ngClass]="{'is-invalid': submitted && f.uname.errors, 'is-valid': submitted && f.uname.valid}">
                <div *ngIf ="submitted && f.uname.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.uname.errors.required">User Name is required!</div>
                    <div *ngIf="submitted && f.uname.errors.minlength">User Name should have atleast 9 characters!</div>
                </div>
                <div *ngIf="submitted && f.uname.valid" class="valid-feedback">
                    <div>User Name is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <label>Create Password*</label>
                <input type = "password" class = "form-control" placeholder="Enter Password" formControlName = "password" [ngClass]="{'is-invalid': submitted && f.password.errors, 'is-valid': submitted && f.password.valid}">
                <div *ngIf ="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.password.errors.required">Password is required!</div>
                    <div *ngIf="submitted && f.password.errors.pattern">Password must be of atleast 8 characters and must have atleast one capital letter, one small letter and one number!</div>
                </div>
                <div *ngIf="submitted && f.password.valid" class="valid-feedback">
                    <div>Password is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <label>Confirm Password*</label>
                <input type = "password" class = "form-control" placeholder="Re Enter Password" formControlName = "confirmPassword" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors, 'is-valid': submitted && f.confirmPassword.valid}">
                <div *ngIf ="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.confirmPassword.errors.required">Confirm Password is required!</div>
                    <div *ngIf="signupForm.get('confirmPassword').errors &&  signupForm.get('confirmPassword').errors.ConfirmPassword">Password and Confirm Password does not match!</div>
                </div>
                <div *ngIf="submitted && f.confirmPassword.valid" class="valid-feedback">
                    <div>Confirm Password is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <label>Email*</label>
                <input type = "email" class = "form-control" formControlName = "email" placeholder = "Enter Email" [ngClass]="{'is-invalid': submitted && f.email.errors, 'is-valid': submitted && f.email.valid}">
                <div *ngIf ="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.email.errors.required">First Name is required!</div>
                    <div *ngIf="submitted && f.email.errors.pattern">Please Enter a valid Email!</div>
                </div>
                <div *ngIf="submitted && f.email.valid" class="valid-feedback">
                    <div>Email is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <label>Phone Number*</label>
                <input type = "text" class = "form-control" formControlName = "phone" placeholder = "Phone Number" [ngClass]="{'is-invalid': submitted && f.phone.errors, 'is-valid': submitted && f.phone.valid}">
                <div *ngIf ="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.phone.errors.required">Phone Number is required!</div>
                    <div *ngIf="submitted && f.phone.errors.pattern">Please Enter a Valid Phone Number!</div>
                </div>
                <div *ngIf="submitted && f.phone.valid" class="valid-feedback">
                    <div>Phone Number is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <label class = "form-inline" >Gender*</label>
                <input type = "radio" class = "form-group" formControlName = "gender" value = "male" [ngClass]="{'is-invalid': submitted && f.gender.errors, 'is-valid': submitted && f.gender.valid}"> Male
                <input type = "radio" class = "form-group" formControlName = "gender" value = "female"> Female
                <div *ngIf ="submitted && f.gender.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.gender.errors.required">Gender is required!</div>
                </div>
                <div *ngIf="submitted && f.gender.valid" class="valid-feedback">
                    <div>Gender is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <label>Address*</label>
                <textarea formControlName = "address" class = "form-control" [ngClass]="{'is-invalid': submitted && f.address.errors, 'is-valid': submitted && f.address.valid}"></textarea>                 
                <div *ngIf ="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.address.errors.required">Address is required!</div>
                </div>
                <div *ngIf="submitted && f.address.valid" class="valid-feedback">
                    <div>Address is OK</div>
                </div>
            </div>
            <div class = "form-group">
                <input type = "submit" class = "btn btn-success" value = "Sign Up" name = "submit" id = "submitbt">
                <button type = "reset" class = "btn btn-danger" value = "reset">Reset</button>
                <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
            </div>
        </form>
        </div>
    </div>
</div>
