<div class="text-center font-weight-bold text-dark" id="name">
    <span>Welcome {{name}} !</span>
</div>

<nav class="navbar navbar-expand-sm bg-dark col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <ul class=" nav">
        <li class="navbar-item">
            <button class="btn btn-link" (click)="link(1)" id="link">Products</button>
        </li>
        <li class="navbar-item">
            <button class="btn btn-link" (click)="link(2)" id="link">Add Products</button>
        </li>
        <li class="navbar-item">
            <button class="btn btn-link" id="link"(click)="logout()">Logout</button>
        </li>
    </ul>
</nav>


<div class="jumbotron">
    <div class="container-fluid">
            <div class="text-center text-dark">
                <h3>Edit The Product Details</h3>
            </div>
            <div class="col-md-6 offset-md-3 bg-dark">            
                <form (ngSubmit) = "saveUpdate()">
                    <div class="form-group">
                        <label>Product Id</label>
                        <input type="text" class="form-control" name="p_id" [(ngModel)]="products.productId">
                    </div>
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" name="p_name" [(ngModel)]="products.productName">
                    </div>
                    <div class="form-group">
                        <label>Product Code</label>
                        <input type="text" class="form-control" name="p_code" [(ngModel)]="products.productCode">
                    </div>
                    <div class="form-group">
                        <label>Release Date</label>
                        <input type="text" class="form-control" name="p_date" [(ngModel)]="products.releaseDate">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" name="p_desc" [(ngModel)]="products.description">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" name="p_price" [(ngModel)]="products.price">
                    </div>
                    <div class="form-group">
                        <label>Star Rating</label>
                        <input type="text" class="form-control" name="p_rating" [(ngModel)]="products.starRating">
                    </div>
                    <div class="form-group">
                        <label>Product Image</label>
                        <input type="text" class="form-control" name="p_image" [(ngModel)]="products.imageUrl">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Add Product" name="addProduct" id="submit">
                        <input type="reset" class="btn btn-danger" value="Reset" name="reset" id="reset">
                    </div>
                </form>
        </div>
    </div>
</div>